<!doctype html>
<html lang="en">
    <head>
        <!-- Template the <head> -->
        <title>Local Racer</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <style>
              html, body, #map-canvas {
                height: 100%;
                margin: 0px;
                padding: 0px
              }
        </style>
    </head>
    <body>
        <!-- Template the navbar -->
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="navbar-collapse collapse" style="max-width:812px;min-width:480px;margin-left:auto;margin-right:auto;">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">Leaderboards</a></li>
                    <li><a href="#contact">Play</a></li>
                    <li><a href="#shop">Sign Up</a></li>
                  </ul>
                </div>
            </div>
        </div>

        <!-- Geofence array - Longitude, Latitude, Radius -->

        <div id="header"></div>

        <div id="sidebar"></div>

        <div class="jumbotron" style="background-image:url('image/ferrari.jpg');background-color:rgb(85,81,72);background-repeat:no-repeat;background-size:cover;height:500px;background-position:center;">
          <div class="container" style="text-align:left;color:white;text-shadow:2px 2px 5px #333;">
            <h1>Want to be a bad ass and race your friends?</h1>
            <p>Get There First!</p>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-12" style="text-align:center;height:450px;">
              <br>
              <img src="image/icon.png" width="150">
              <h2>Sign Up Today!</h2>
              <div class="test">
                  <input type="text" id="email"></input>
                  <input type="text" id="vehicle"></input>
                  <input type="text" id="map"></input>
                  <input type="text" id="time"></input>
                  <a class="btn btn-success save">Save</a>
              </div>
              <div id="leaderboard"></div>
              <div id="sidebar"></div>
              <div id="map-canvas"></div>
              <br>
            </div>
          </div>

        </div>

        <footer>
            <div class="container">
            </div>
        </footer>

        <script type="text/template" id="tpl-race-list-item">
        	<a href='#races/<%= id %>'><%= name %></a>
        </script>
        <script type="text/template" id="tpl-race-details">
            <div class="form-left-col">
                <label>Id:</label>
                <input type="text" id="raceId" name="id" value="<%= id %>" disabled />
                <label>Email:</label>
                <input type="text" id="email" name="email" value="<%= email %>" required/>
                <label>Vehicle:</label>
                <input type="text" id="vehicle" name="vehicle" value="<%= vehicle %>"/>
                <label>Map:</label>
                <input type="text" id="map" name="map" value="<%= map %>"/>
                <label>Time:</label>
                <input type="text" id="time" name="time"  value="<%= time %>"/>
            </div>
        </script>
        <!--<script src="js/jquery-1.9.1.min.js"></script>  //ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/underscore.js"></script>
        <script src="js/backbone.js"></script>
        <script src="js/application.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&v=3&libraries=geometry"></script>
        <script>
        function initialize() {
          var mapOptions = {
            zoom: 6,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };

          map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var marker = null;
        var A = new google.maps.LatLng(40.485340, -74.436923);
        var B = new google.maps.LatLng(40.483659, -74.438678);

        function autoUpdate() {
          navigator.geolocation.getCurrentPosition(function(position) {
            var newPoint = new google.maps.LatLng(position.coords.latitude,
                                                  position.coords.longitude);

            if (marker) {
              // Marker already created - Move it
              marker.setPosition(newPoint);

              if (google.maps.geometry.spherical.computeDistanceBetween(newPoint, A) < 10) {
                  var r = confirm("You are within 10m of a checkpoint. Maybe. Would you like to start a race?");
                  if (r==true) {
                      var startTime = Date.now();
                      $('.col-lg-12').append('<h1>' + startTime + '</h1>');
                      console.warn(startTime);
                  }
              }

            } else {
              // Marker does not exist - Create it
              marker = new google.maps.Marker({
                position: newPoint,
                map: map
              });
            }

            // Center the map on the new position
            map.setCenter(newPoint);
          });

          // Call the autoUpdate() function every 5 seconds
          setTimeout(autoUpdate, 5000);
        }

        autoUpdate();

        var directionsService = new google.maps.DirectionsService();
        var directionsRequest = {
          origin: A,
          destination: B,
          travelMode: google.maps.DirectionsTravelMode.DRIVING,
          unitSystem: google.maps.UnitSystem.METRIC
        };

        directionsService.route(
          directionsRequest,
          function(response, status)
          {
            if (status == google.maps.DirectionsStatus.OK)
            {
              new google.maps.DirectionsRenderer({
                map: map,
                directions: response
              });
            }
            else
              $("#error").append("Unable to retrieve your route<br />");
          }
          );
      }
      google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </body>
</html>