<!doctype html>
<html lang="en">
    <head>
        <!-- Template the <head> -->
        <title>Get There First</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <style>
              html, body, #map-canvas {
                height: 100%;
                margin: 0px;
                padding: 0px
              }
        </style>
    </head>
    <body>
        <div id="fb-root"></div>
        <script src="//connect.facebook.net/en_US/all.js"></script>
        <script>
          window.fbAsyncInit = function() {
          FB.init({
            appId      : '528842820526587', // App ID
            channelUrl : '//hackru.alexvallorosi.com/channel.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
          });

          // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
          // for any authentication related change, such as login, logout or session refresh. This means that
          // whenever someone who was previously logged out tries to log in again, the correct case below
          // will be handled.
          FB.Event.subscribe('auth.authResponseChange', function(response) {
            // Here we specify what we do with the response anytime this event occurs.
            if (response.status === 'connected') {
              // The response object is returned with a status field that lets the app know the current
              // login status of the person. In this case, we're handling the situation where they
              // have logged in to the app.
              testAPI();
            } else if (response.status === 'not_authorized') {
              // In this case, the person is logged into Facebook, but not into the app, so we call
              // FB.login() to prompt them to do so.
              // In real-life usage, you wouldn't want to immediately prompt someone to login
              // like this, for two reasons:
              // (1) JavaScript created popup windows are blocked by most browsers unless they
              // result from direct interaction from people using the app (such as a mouse click)
              // (2) it is a bad experience to be continually prompted to login upon page load.
              FB.login();
            } else {
              // In this case, the person is not logged into Facebook, so we call the login()
              // function to prompt them to do so. Note that at this stage there is no indication
              // of whether they are logged into the app. If they aren't then they'll see the Login
              // dialog right after they log in to Facebook.
              // The same caveats as above apply to the FB.login() call here.
              FB.login();
            }
          });
          };

          // Load the SDK asynchronously
          (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           ref.parentNode.insertBefore(js, ref);
          }(document));

          // Here we run a very simple test of the Graph API after login is successful.
          // This testAPI() function is only called in those cases.
          function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
              console.log('Good to see you, ' + response.name + '.');
              console.warn(response);
              $("#email").val(response.name);
            });
          }

        </script>
        <!-- Template the navbar -->
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="navbar-collapse collapse" style="max-width:812px;min-width:480px;margin-left:auto;margin-right:auto;">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="leaderboard.html">Leaderboards</a></li>
                    <li><a href="play.html">Play</a></li>
                  </ul>
                </div>
            </div>
        </div>

        <div id="header"><input id="map" style="display:none;" value="1"></input></div>

        <div id="sidebar"></div>

        <div class="jumbotron" style="background-image:url('image/ferrari.jpg');background-color:rgb(85,81,72);background-repeat:no-repeat;background-size:cover;height:500px;background-position:center;">
          <div class="container" style="text-align:left;color:white;text-shadow:2px 2px 5px #333;">
            <h1>Race your friends in car, on bike, foot, horseback or anything else!</h1>
            <p>Use Get There First!</p>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-12" style="text-align:center;height:450px;">
              <h2>Sign Up Today!</h2>
              <div class="test" style="padding-bottom:40px;">
                  <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
                  <a class="btn btn-success logout">Logout</a>
                  <input type="text" id="email" placeholder="Email"></input>
                  <input type="text" id="vehicle" placeholder="Vehicle"></input>
                  <input type="text" id="time" value="19998" style="display:none;"></input>
                  <a class="btn btn-success save">Save</a>
              </div>
              <table class="table">
                  <thead>
                      <tr>
                          <th style="text-align:center;">Email</th>
                          <th style="text-align:center;">Vehicle</th>
                          <th style="text-align:center;">Map</th>
                          <th style="text-align:center;">Time</th>
                      </tr>
                  </thead>
                  <tbody id="leaderboard">
                  </tbody>
              </table>
              <div id="sidebar"></div>
              <div id="map-canvas"></div>
              <br>
            </div>
          </div>

        </div>

        <footer>
            <div class="container">
            </div>
        </footer>

        <script type="text/template" id="tpl-race-list-item">
        	<tr>
                <td><%= get('email') %></td>
                <td><%= get('vehicle') %></td>
                <td><%= get('map') %></td>
                <td><%= get('time') / 1000 %> Seconds</td>
            </tr>
        </script>
        <!--<script src="js/jquery-1.9.1.min.js"></script>  //ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/underscore.js"></script>
        <script src="js/backbone.js"></script>
        <script src="js/application.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&v=3&libraries=geometry"></script>
        <script>
        function initialize() {
            console.warn($('#time').val());
          var mapOptions = {
            zoom: 6,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };

          map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var marker = null;
        var A = new google.maps.LatLng(40.485340, -74.436923);
        var B = new google.maps.LatLng(40.4844, -74.437877);

        function autoUpdate() {
          navigator.geolocation.getCurrentPosition(function(position) {
            var newPoint = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

            if (marker) {
              // Marker already created - Move it
              marker.setPosition(newPoint);

            } else {
              // Marker does not exist - Create it
              marker = new google.maps.Marker({
                position: newPoint,
                map: map
              });
            }

            // Center the map on the new position
            map.setCenter(newPoint);
          });

          // Call the autoUpdate() function every 5 seconds
          setTimeout(autoUpdate, 5000);

          navigator.geolocation.getCurrentPosition(function(position) {
            var newPointOne = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

              if (google.maps.geometry.spherical.computeDistanceBetween(newPointOne, A) < 15) {
                  var r = confirm("You are nearing a checkpoint. Would you like to start a race?");
                  if (r==true) {
                      startTime = Date.now();
                      console.warn(startTime);
                  }
              }

              if (google.maps.geometry.spherical.computeDistanceBetween(newPointOne, B) < 15) {
                  alert("You just finished the race! Click the save button!");
                  endTime = Date.now();
                  console.log('end time' + endTime);
                  finalTime = endTime - startTime;
                  console.warn('final time' + finalTime);
                  console.log($('#time').attr('value'));
                  $('#time').val(finalTime);
                  console.log($('#time').attr('value'));

              }
          });

        }

        autoUpdate();

        var directionsService = new google.maps.DirectionsService();
        var directionsRequest = {
          origin: A,
          destination: B,
          travelMode: google.maps.DirectionsTravelMode.DRIVING,
          unitSystem: google.maps.UnitSystem.METRIC
        };

        directionsService.route(
          directionsRequest,
          function(response, status)
          {
            if (status == google.maps.DirectionsStatus.OK)
            {
              new google.maps.DirectionsRenderer({
                map: map,
                directions: response
              });
            }
            else
              $("#error").append("Unable to retrieve your route<br />");
          }
          );
      }
      google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </body>
</html>